#settings-title{
    border-bottom: 1px solid black;
}

#pfp-title{
    background-color: grey;
    padding-top: 0.5vh;
    display: flexbox;
    align-items: center;
    max-height: 5vh;
    border-bottom: 1px solid black;
}

#pwChange-title{
    background-color: grey;
    padding-top: 0.5vh;
    display: flexbox;
    align-items: center;
    max-height: 5vh;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#container{
    margin-left: 22vw;
    text-align: center;
}

.containerSettings{
    margin: 1vh;
    min-height: 80vh;
    max-width: 50vw;
    border: 1px solid black;
}

#pic-select input, label {
    display: block;
    margin: 0.5vw;
}

#pic-select input{
    margin-left: 1vw!important;
    margin-bottom: 0.1vh!important;
}

#submitDiv{
    padding-bottom: 5px;
}

#pw-form{
    display: block;
}