div {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

h1.card-title {
    font-family: "PT Sans", sans-serif;
}

h5.card-subtitle {
    font-family: "PT Sans", sans-serif;
    color: rgb(116, 114, 114);
}

.form-main {
    position: center;
}

.form-group {
    position: center;
}

.btn_btn-primary {
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* 
h1 {
    font-weight: bold;
    color: black;
    font-size: 70px;
    font-family: "PT Sans", sans-serif;
}

.p {
    font-size: 20px;
    color: gray;
}

.register1 {
    text-align: center;
}

.body {
    text-align: center;
}

.card {
    border-radius: 15px;
}

. {
    padding-top: 50px;
}

.form-control {
    width: 100%;
    position: center;
}

.input {
    width: 50%;
    text-align: center;
}

.text {
    font-size: 100px;
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
} */