h1 {
    font-weight: bold;
    color: black;
    font-size: 120px;
    font-family: "PT Sans", sans-serif;
}

h2 {
    font-size: 12px;
    color: gray;
}

.register1 {
    text-align: center;
}

.body {
    text-align: center;
}

.card {
    border-radius: 15px;
}

. {
    padding-top: 50px;
}

.form-control {
    width: 100%;
    position: center;
}

.input {
    width: 50%;
    text-align: center;
}

.text {
    font-size: 100px;
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}