/* Wordle.jsx */
#wordleGame{
  height: 100vh;
  width: 100vw;
}

#wordleWords{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: 60vh;
  width: 100%;
}


.wordleRow{
  display: flex;
  justify-content: center;
  align-items: center;

}




/* Letter.jsx */
.wordleLetter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px; 
  border: solid black;
  height: 60px;
  width: 60px;
}


.correctWordleLetter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px; 
  border: solid black;
  height: 60px;
  width: 60px;
  background-color: green;
}

.almostCorrectWordLetter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px; 
  border: solid black;
  height: 60px;
  width: 60px;
  background-color: yellow;
}

.wrongWordLetter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px; 
  border: solid black;
  height: 60px;
  width: 60px;
  background-color: grey;
}



/* Keyboard.jsx */


#keyboard{
  display: flex;
  flex-direction: column;
  
  height: 25vh;
}

#keyboard1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  width: 50%;
  height: 100%;
}
#keyboard2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  width: 50%;
  height: 100%;
}
#keyboard3{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  width: 50%;
  height: 100%;
}

.keys{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px; 
  border: solid black;
  height: 50px;
  width: 50px;
}

.deleteAndEnter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px; 
  border: solid black;
  height: 50px;
  width: 80px;
}

#gameInProgress{
  display: none;
}


#gameoverModal{

  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#gameover{
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  width: 50%; /* Could be more or less, depending on screen size */
  height: 200px;
}

#gameoverClose{
  border: none;
  background-color: #fefefe;
  width: 10%;
  margin-left: 90%;
  float: right;
  line-height: 42px;
  font-size: 20px;
  font-weight: bold;
}

#gameoverMessage{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* timer */
#timer{
  display: flex;
  justify-content: center;
  align-items: center;
}